[giggle]
	main-window-maximized = false
	main-window-geometry = 421x141+129+12
	file-view-vpane-position = 82
	history-view-vpane-position = 18
	main-window-view = FileView
[user]
	name = Oshanz
	email = spiritualmirror@gmail.com
